/*---- GENERELLE TING ----*/
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    margin: 0 auto;
    padding: 0;
}

p {
    font-family: 'Raleway', sans-serif;
}





/*---- FONT ----*/


/*-font hentet fra DaFont og genereret via fontsquirrel-*/
@font-face {
    font-family: 'great_wishesregular';
    src: url('font/great_wishes-webfont.woff2') format('woff2'),
        url('font/great_wishes-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}






/*---- TOP-NAV/NAVIGATIONSBAR ----*/

header {
    display: inline;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 3;

}

header nav {
    background-color: white;
    width: 100%;
    height: 100%;
}



header nav ul li {
    display: inline;


    font-size: 20px;
}

header nav ul li a {
    padding: 1vw;
    text-decoration: none;
    color: lightpink;
    display: inline-block;
    font-family: 'great_wishesregular';
    border-right: 0.1vw solid lightpink;
}

header nav ul li:last-child a {
    border-right: 0 solid white;
}


.logo_container {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.logo_container img {
    height: 80%;
    width: 80%;
    margin: 4vw;

}


#navigation {
    display: flex;
    justify-content: center;
}

#navigation a:hover {
    color: palevioletred;
    transform: scale(1.1);
}








/*----- dropdown menu ------*/

/*- dropdown-menu koden er hentet fra w3schools, koden er tilpasset og ændret til sidens behov-*/


/*- styling på selve knappen -*/
.drop {
    font-family: 'Raleway', sans-serif;
    font-size: 5vw;
    background-color: white;
    color: lightpink;
    border-radius: 20vw;
    box-shadow: 0.9vw 0.5vw 2vw #D9D4D0;

    border: none;
    padding: 2vw;
    margin-top: 4vw;
}


/*- dropdown-menuens position -*/
.dropdown {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    text-align: center;
}


/*- selve indholdet der skal vises -*/
.dropdown-content {
    display: none;
    box-shadow: 0.9vw 0.5vw 2vw #D9D4D0;
    z-index: 1;

}


/*- styling af links i boksen -*/
.dropdown-content button {
    font-family: 'Raleway', sans-serif;
    font-size: 4vw;
    color: lightpink;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
    background-color: white;


    display: block;
}


/*- hover effekter på knapper -*/
.dropdown-content button:hover {
    transform: scale(1.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop {
    background-color: lightpink;
    color: white;
}










/*---- START ----*/


/*- splashvideo-*/

#start {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

}

/*- tilpasning af størrelse-*/
video {
    margin: 0 auto;
    padding: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: -1;
}









/*-- FILTER KNAPPER --*/


/*- filterknapper displays ikke under 600px, da vi bruger dropdown-menuen til mobilversion-*/
.filter_nav {
    display: none;
}






/*---- GRID/DATA CONTAINER ----*/

.data_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 0 10vw;
}


/*- styling af indholdet i grid: billeder, tekster og farver-*/


.kage {
    padding: 3vw;
    margin-top: 3rem;
    text-align: center;
    align-items: center;

    cursor: pointer;

}

.billede {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.billede:hover {
    opacity: 70%;
    transform: scale(1.1)
}

.kage h2 {
    font-family: 'great_wishesregular';
    color: palevioletred;
    font-size: 1.5rem;
    text-align: center;

    height: 10vw;
}

.kage p {
    font-family: 'Raleway', sans-serif;
    color: #ff8fbb;


}






/*---- POP OP ----*/

/*- styling af pop-op-*/

.pop_op {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;

    display: none;
}

.pop_op .pop_box {
    width: 90vw;
    height: 150vh;
    ;

    margin: 2vw auto;

    background-color: white;
    box-shadow: 0.4vw 0.4vw 2vw #D9D4D0;
}

.pop_op .exit {
    width: 10vw;
    height: 10vw;

    background-image: url(pics/exit.svg);
    background-size: cover;

}

.pop_op .exit:hover {
    opacity: 70%;
    transform: scale(1.2);
}

.pop_op .pop_billede {
    width: 90vw;
    ;
    height: 60vw;
    object-fit: cover;

    background-color: lightpink;
    position: fixed;
    top: 15vw;
    left: 5vw;
}


.pop_op .beskrivelse {
    position: fixed;

    width: 80vw;
    line-height: 8vw;

    top: 75vw;
    left: 10vw;
}









/*---- NYHEDSBREV ----*/



/*- nyhedsbrev position og størrelse-*/
#nyhedsbrev {
    height: 70vw;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    background-color: lightpink;
}


.nyhedsbrev_text {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'great_wishesregular';
    color: white;

}


/*- styling af tekst-*/

.nyhedsbrev_text h2 {
    padding-top: 1vw;
}

.nyhedsbrev_text p {
    font-size: 1.5rem;

}


/*- input container position-*/

.input-container {
    display: flex;

    width: 70vw;
    margin: 0 auto;

    cursor: pointer;

}

/*- styling af input-container-*/

.input_text {
    background-color: palevioletred;
    color: white;
    padding: 0.7vw;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.input_text:hover {
    background-color: mistyrose;
    color: palevioletred;

}

.input-field {
    color: palevioletred;
    width: 50vw;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    border: none;
    padding-left: 1vw;
}

::placeholder {
    color: lightpink;
}









/*---- FOOTER ----*/


/*- styling af footer-*/

footer {
    background-color: palevioletred;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.footer_nav {
    margin: 0;
}

.footer_nav ul {
    margin: 0;
    padding: 0;
}

.footer_nav ul li {
    list-style-type: none;
    text-align: center;
    padding: 1vw;
}

.footer_nav ul li a {

    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.4rem
}










/*---- ANIMATIONER ----*/


/*- animation starter ved load af siden-*/

.fade_in_slide {
    animation-name: fade_in_slide_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

@keyframes fade_in_slide_kf {

    from {
        opacity: 0;
        transform: translateY(-2vw);


    }

    to {

        opacity: 1;
        transform: translateY(0);

    }
}








/*---- MEDIA QUERIES ----*/


@media screen and (min-width:600px) {

    .dropdown {
        display: none;
    }

    .pop_op .pop_box {
        width: 90vw;
        height: 110vw;
        margin: 2vw auto;

        background-color: white;
        box-shadow: 0.4vw 0.4vw 2vw #D9D4D0;
    }

    .pop_op .exit {
        width: 6vw;
        height: 6vw;

        background-image: url(pics/exit.svg);
        background-size: cover;
    }

    .pop_op .pop_billede {
        width: 90vw;
        height: 40vw;
        object-fit: cover;

        background-color: lightpink;
        position: fixed;
        top: 10vw;
        left: 5vw;
    }

    .pop_op .beskrivelse {
        position: fixed;
        top: 50vw;
        line-height: 6vw;
    }


    #navigation {
        display: flex;
        justify-content: flex-end;
    }

    .filter_nav {
        display: flex;
        justify-content: center;
        margin-top: 2vw;
    }

    button {
        font-family: 'great_wishesregular';
        color: white;
        background-color: lightpink;
        border: none;
        border-radius: 20vw;
        font-size: 2.2vw;
        margin: 0.8vw;
        padding: 1vw;

        cursor: pointer;
    }



    button:hover {
        transform: scale(1.1);
        opacity: 70%;
    }

    .valgt {
        background-color: palevioletred;
    }

    #nyhedsbrev {
        height: 50vw;

    }


}








@media screen and (min-width:840px) {

    video {
        height: 40vw;
    }

    .pop_op .pop_box {
        width: 60vw;
        height: 155vh;
        margin: 2vw auto;

        background-color: white;
        box-shadow: 0.4vw 0.4vw 2vw #D9D4D0;
    }

    .pop_op .exit {
        width: 5vw;
        height: 5vw;

        background-image: url(pics/exit.svg);
        background-size: cover;
    }

    .pop_op .pop_billede {
        width: 60vw;
        height: 35vw;
        object-fit: cover;

        background-color: lightpink;
        position: fixed;
        top: 8vw;
        left: 20vw;
    }

    .pop_op .beskrivelse {
        position: fixed;
        width: 50vw;
        line-height: 3.5vw;

        top: 43vw;
        left: 25vw;

    }


}








@media screen and (min-width: 1000px) {

    .pop_op .pop_box {
        width: 60vw;
        height: 155vh;
        margin: auto;

        background-color: white;
        box-shadow: 0.4vw 0.4vw 2vw #D9D4D0;
    }

    .pop_op .exit {
        width: 5vw;
        height: 5vw;

        background-image: url(pics/exit.svg);
        background-size: cover;
    }

    .pop_op .pop_billede {
        width: 60vw;
        height: 25vw;
        object-fit: cover;

        background-color: lightpink;
        position: fixed;
        top: 5vw;
        left: 20vw;
    }

    .pop_op .beskrivelse {
        position: fixed;
        width: 50vw;
        line-height: 2vw;

        top: 30vw;
        left: 25vw;

    }

    #nyhedsbrev {
        height: 30vw;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        background-color: lightpink;
    }

    .nyhedsbrev_text {
        text-align: center;
        font-size: 2rem;
        font-family: 'great_wishesregular';
        color: white;
        padding: 0;


    }

    .nyhedsbrev_text h2 {
        padding-top: 1vw;
    }

    .nyhedsbrev_text p {
        font-size: 1.5rem;

    }

    .input-container {
        display: flex;

        width: 60vw;
        margin: 0 auto;

        cursor: pointer;

    }

    .input_text {
        background-color: palevioletred;
        color: white;
        padding: 0.4vw;
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
    }

    .input-field {
        color: palevioletred;
        width: 50vw;
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        border: none;
        margin: 0;
    }


}
